/* html {
  min-height: 100%
} */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(76, 9, 121, 1) 50%, rgba(0, 60, 255, 0.438)100%);
  min-height: 100%;

}

form {
  padding: 20px;
  margin-top: 60px;
}

form button,
form h5 {
  color: black;
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: rgb(105, 45, 184);
  box-shadow: none;

}

/* input[type=text]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label {
  color: #ec407a !important;
} */

/* icon prefix focus color */
.input-field .prefix.active {
  color: rgb(105, 45, 184);
}

input[type=text],input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #4CAF50;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Orbitron', sans-serif;
}

h4 {
  color:white;
}

.center {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
.card{
  position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    max-width: 90%;
    padding: 2em 3em;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0px 0px 2px #131415;
    font-family: 'Open Sans', sans-serif;
  }

.lookup-table {
  border: thin solid blue;
  padding: 2rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

button 
{
  outline-color: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(76, 9, 121, 1) 50%, rgba(0, 60, 255, 0.438)100%);
  color:whitesmoke;
  border: none;
  padding: 2px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/* .nav-wrapper
{
background: rgba(255,25)} */

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
